/* 최소 width가 1215px이상일때 */
.background-img-pc {
  position: absolute;
  background-image: url(../images/bgc.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  width: 100%;
  z-index: -99999;
  background-attachment: fixed;
}

.background-img-tablet {
  display: none;
}

.only-mobile {
  display: none;
}

.only-pc {
  display: flex;
}

.main-autumn-title {
  font-size: 200px;
}

.main-conscious-title {
  font-size: 180px;
}

.main-conscious-img span {
  background-position: center center;
}

.main-introducing-title,
.main-checkers-title {
  font-size: 90px;
}

.magazine-title {
  font-size: 130px;
}

.magazine > div li {
  font-size: 24px;
}

/*최대 width가 1216px이상 ~ 최소 width가 1749px이하일때 */
@media screen and (max-width: 1749px) and (min-width: 1216px) {
  .main-conscious-title {
    font-size: 140px;
  }

  .main-introducing-title,
  .main-checkers-title {
    font-size: 80px;
  }

  .main-checkers-img span {
    background-position: 70%;
  }

  .main-checkers .text-cover {
    left: 5%;
  }

  .link li {
    font-size: 32px;
  }
}
